<div class="jumbotron">
  <div class="container text-center">
    <h1 class="text-center"><%= @user.first_name %> <%= @user.last_name %></h1>
    <br>
    <%= image_tag @user.image.url, class:'img-responsive rounded image-cropper'%>
    <br>
    <div>
      Role: <%= @user.role %>
      <br>
      Location: <%= @user.location %>
      <br>
      Sector(s): <%= @user.sector %>
      <br>
      Email: <%= mail_to @user.email %>
      <br>
    </div>
    <br>
    <% if @user == current_user %>
    <span><%= link_to 'Edit Profile', edit_user_path, class: 'btn btn-default'%></span>
    <span><%= link_to "Back to Dashboard", patients_path, class: 'btn btn-default'%></span>
    <% else %>
    <span><%= link_to "Back to Dashboard", patients_path, class: 'btn btn-default'%></span>
    <% end %>
  </div>
</div>


