<div class="jumbotron">
  <div class="container text-center">
    <h1>Caseload</h1>
    <br>
    <%= link_to 'Create Observation for New Patient', observations_new_path, class: 'btn btn-primary'%>
  </div>
</div>

<% if current_user.patients.distinct.count > 3 %>
  <%= form_tag patients_path, method: :get, class: "navbar-form pull-right", role: "search" do %>
    <div class="form-group form-inline">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Patient's Name" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-default", id: 'search-button' %>
    </div>
  <% end %>
<% end %>

<hr>
 <!-- Caseload Grid Section -->
<div class="container">
  <section id="caseload">
    <div class="row">
    <% current_user.patients.distinct.each do |p| %>
        <div class="col-xs-3 text-center caseload-item">
          <div class="image-cropper" id="index-pic">
            <%= link_to (image_tag(p.image.url)), patient_path(p) %>
          </div>
            <%= p.first_name %>
            <%= p.last_name %>
          <br>
        </div>
    <% end %>
    </div>
  </section>
</div>

