<div class="jumbotron">
  <div class="container text-center">
    <h1 class="text-center"><%= @patient.first_name %> <%= @patient.last_name %></h1>
    <br>
    <%= image_tag @patient.image.url, class:'img-responsive rounded image-cropper', id:'profile-pic' %>
    <%= link_to 'Create New Observation', new_patient_observation_path(@patient), class: 'btn btn-primary'%>
  </div>
</div>

<hr>
<%= link_to 'Edit Patient Details', edit_patient_path %> |
<%= link_to "Delete Patient", patient_path(@patient), method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to "Back to Dashboard", patients_path %>
<hr>
<p>
  Age: <%= @patient.age %>
  <br>
  Gender: <%= @patient.gender %>
  <br>
  Parent(s):
  <br>
  List of Specialists:
  <br>
  Type of Sessions:
  <br>
  School Session: <%= @patient.school_session %>
  <br>
  Home Session: <%= @patient.home_session %>
</p>

<h3>List of Observations:</h3>
<hr>
<% @patient.observations.each do |o| %>
<div>
  <%= link_to o.activity, observation_path(o) %>
</div>
<% end %>


<br>
<br>


