<div class="jumbotron">
  <div class="container text-center">
    <h1 class="text-center"><%= @patient.first_name %> <%= @patient.last_name %></h1>
    <br>
    <%= image_tag @patient.image.url, class:'img-responsive rounded image-cropper' %>
    <%= link_to 'Create New Observation', new_patient_observation_path(@patient), class: 'btn btn-primary'%>
    <%= mail_to @patient.parent_email, 'Contact Parent', class: 'btn btn-primary' %>
  </div>
</div>
<!-- <div class="alert alert-warning" role="alert"> -->
<% flash.each do |message_type, alert| %>
<div class="container">
  <div class="text-center alert alert-<%= message_type%>"><%= alert %></div>
</div>
<% end %>
<hr>
<div class="text-center">
  <%= link_to 'Edit Patient Details', edit_patient_path %> &nbsp; | &nbsp;
  <%= link_to "Delete Patient", patient_path(@patient), method: :delete, data: {confirm: 'Are you sure?'} %> &nbsp; | &nbsp;
  <%= link_to "Back to Dashboard", patients_path %>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
    <h3>Patient Details</h3>
      <p>
        Age: <%= @patient.age %>
        <br>
        Gender: <%= @patient.gender %>
        <br>
        Parent(s): <%= @patient.parent %>
        <br>
        Specialist(s):
        <ul>
        <% @users.distinct.each do |u| %>
          <li><%=link_to u.first_name, user_path(u) %></li>
        <% end %>
        </ul>
        Type of Sessions:
        <br>
        School Session: <%= @patient.school_session %>
        <br>
        Home Session: <%= @patient.home_session %>
      </p>
    </div>

    <div class="col-md-5">
      <h3 class="text-center">List of Observations</h3>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">My Observations</h3>
        </div>
        <ul class="list-group">
          <% if @my_obs.count > 0 %>
            <% @my_obs.each do |o| %>
              <li class="list-group-item"><%= link_to o.program, observation_path(o)%> (<%= o.goal %>) on <%= o.date.strftime("%m/%d/%Y") %></li>
            <% end %>
          <% else %>
            <li class="list-group-item">None</li>
          <% end %>
        </ul>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Other Observations</h3>
        </div>
        <ul class="list-group">
          <% if @other_obs.count > 0 %>
            <% @other_obs.each do |o| %>
              <li class="list-group-item"><%= link_to o.program, observation_path(o)%> (<%= o.goal %>) on <%= o.date.strftime("%m/%d/%Y") %></li>
            <% end %>
          <% else %>
              <li class="list-group-item">None</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


