<!DOCTYPE html>
<html>
<head>
  <title>CollabApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<p>
  <% if current_user %>
    Welcome, <%= current_user.first_name %>
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
